.box{
    color: rgb(186, 128, 42);
    padding: 20px;
    width: 90px;
    height: 90px;
    /* margin: auto; */
    display: inline-block;
    background-color: green;
    
}
.wrap{
    margin: auto;
}
#green{
    background-color: green;
}
#red{
    background-color: red;
}
#orange{
    background-color: orange;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue;
}
#purple{
    background-color: purple;
}
.all{
    margin: auto;
}