.red, .yellow, .green{
    width: 100px;
    height: 100px;
    border-radius: 1000000px;
    margin-bottom: 20px;
}
.red{
    /* background-color: red; */
}
.yellow{
    /* background-color: yellow; */
}
.green{
    /* background-color: greenyellow; */
}