body{
    background-color: rgb(255, 255, 255);
    /* background-image: url(fithub.svg); */
    background-repeat: no-repeat;
    width: 100%;
    padding: 0px;
    margin: 0px;
    
}
.navbar{
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content:space-between;
    position: sticky;
    height: 8%;
    top: 1px;
    z-index: 2;
}
.navbar a{
    display: inline;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}
.navbar img{
    /* margin-right: 100px; */
    margin-left: 30px;
}
.navbar .sec2{
    /* margin-left: 40px; */
    align-items: center;
    margin-left: 180px;

}
.navbar .sec1{
    width: 10%;
}

.mode{
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.light, .dark{
    margin-left: 20px;
    margin-right: 5px;
}
.dark{
    transition: color 1s;
    align-self: center;
    height: 100%;
}
.dark button{
    border: 0px;
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    transition: color 1s;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
}
.dark button:hover{
    color: white;
    background-color: black;
}
.light button{
    border: 0px;
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    transition: color 1s;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
}
.snow button{
    border: 0px;
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    transition: color 1s;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
}
.snw{
    position: fixed;
    width: 0%;
    height: 0%;
    z-index: 1;
}

@media screen and (max-width:900px){
    .navbar{
        height: 60px;
        overflow: hidden;
        display: inline-block;
    }
}
.one{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    height: 1000px;
    z-index: 0;
}
.one .first_half{
    width: 100%;
    background-color: rgb(46, 171, 171);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.one .pic1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 230px;
}
.one img{
    width: 80%;
    align-self: center;
}
.first_half .text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.one h2{
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}
.one .second_half{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

/* .second_half h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.second_half .text{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.second_half h2{
    justify-self: left;
}
.second_half .forms{
    display: flex;
    width: 100%;
    
    justify-content: center;
    height: 100%;
    background: #fff;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 70%;
    /* margin: 20px; */
/* } */
/* label {
    /* display: block; */
    /* margin-bottom: 5px;
    font-weight: bold;
    color: #555;
} */
/* input {
    display: flex;
    width: 100%;
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;

    font-size: 14px;
    color: #333;
    margin-bottom: 60px;
    margin-top: 20px;
} */
/* button {
    width: 100%;
    padding: 12px;
    background-color: #10cab8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
} */
/* .second h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.second p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}  */
.first_half button{
    display: inline-flex;
    width: 50%;
    padding: 12px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    
}
.redeem h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.redeem{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
